html, body {
   

}

div{
    
}

h1{


    
    padding-top: 220px;
    padding-left: 30%;
    
    width: 480px;
     position: fixed;
    color: aqua;
    text-align: center;
    align-content: center;
    
    
    
}

#welcome{  position: absolute; 
  top: 0px;
  left: 0px;
    width: 100%;
    height: 100%;
    background: url(../img/background.jpg)
    
    
}

#nme{
    position:absolute;
    top: 550px;
    left: 45%;
    
    
}
#nmbt{
    width: 70px;
    position:absolute;
    top: 600px;
    left: 45%;
    
    
}


p{
    
    
     padding-top: 300px;
    width: 600px;
     position: fixed;
    
    text-align: center;
    
}



#welh{
    
     text-align: center;
  position: fixed;    
}

body {
    
     
}