body{

}
.Mainc{


 width: 100%;
 position:absolute;
z-index: -1;
height: 100%;
background-color: #FFEBEE;


}




 #icons{

     position: absolute;
    list-style-type: none;
    padding: 0;
     margin: 0;
     z-index: 1;



}



#tabs{
  position:absolute;
  width: 1000px;
  margin-top: 150px;
  margin-left: 650px;
  background-color: #FFCDD2;
    

}
#accordion{
    
    position: absolute;
    top: 100px;
    left: 5px;
    width: 180px;
    z-index: 3;
    
}
#acborder{
    
    position: absolute;
    height: 1000px;
    width: 180px;
    left: 5px;
    top: 100px;
    background-color:  red;
    z-index: 1;
}

#banner{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 1px;
    background-color: #FFCDD2;
    z-index: 1;
    
}
#icons{
    position: absolute;
    padding-left: 80%;
    padding-top: 40px;
}
li{
float: left; 
margin: 10px;}

#navBTs{
    
    position: absolute;
    margin-top: 815px;
    margin-left: 65%;
    display: inline-block;
    list-style: none;
    
}


#prevBT{z-index:6;}
#Navigation{ position: absolute;}



