body{
margin: 0px;
padding: 0px;
}
.Mainc{
width: 100%;
 position:absolute;
z-index: -1;
height: 100%;
background-color: #FFEBEE;
margin: 0px;
padding: 0px;
}

 #icons{

     position: fixed;
    list-style-type: none;
    padding: 0;
     margin: 0;
     z-index: 1;
   
    margin-left: 80%;
    margin-top: 40px;

}

#tabs{
  position:absolute;
  width: 1000px;
    height: 650px;
 top: 120px;
  left: 450px;
  background-color: #FFCDD2;
    z-index: 4;

}
#accordion{
    
    position: relative;
    top: 100px;
    left: 5px;
    width: 180px;
    z-index: 3;
   
    
    
}

#accordion div{

    
   overflow: hidden;
    white-space: nowrap;

  padding: 0px;
}

#accordion div div:not(#currPage){
    
    background-color: #EF5350
;
    padding: 0px;
    word-wrap: break-word;
     text-align: center
   
}
#accordion div div h3{
    
   color: black;
 
}
#currPage{
     background-color: #FFCDD2;
    padding: 0px;
    word-wrap: break-word;
     text-align: center
    
}
hr{
    padding: 0;
    margin: 0;
}
#acborder{
    
    position: absolute;
    height: 85%;
    width: 180px;
    left: 5px;
    top: 100px;
    background-color:  red;
    z-index: 1;
}

#banner{
    width: 99%;
    height: 100px;
    position: fixed;
    top: 1px;
    background-color: #FFCDD2;
    z-index: 1;
    
}

li{
float: left; 
 padding: 0px;
    margin: 2px;
}

#navBTs{
    
   position: relative;
    top: 170px;
    left: 700px;
    display: inline-block;
    list-style: none;
    
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
     border-right:10px solid #B71C1C; 

}

#nextPage{
    position: relative;
    top: 173px;
    left: 66%;
 
    
}
.arrow-left {
   width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid #B71C1C; 
}
#arrow-l{
    position: absolute;
    top: 88.6%;
    left: 73.3%;
    width: 0px;
    height: 15px;
    display: show;
}



#arrow-r{
z-index: 3;
    position: absolute;
  top: 88.6%;
    left: 89.2%;
    width: 0px;
    height: 15px;
    transform: scaleX(-1);
    display: show;
}
#kernelLog{
   overflow: hidden;
padding: 3px; 
}

#outputLog{
overflow: hidden;
padding: 3px;
}

li{
   
     
}
#defaultCanvas0{
  
    position: relative;
    bottom: 440px;
    width: 100px;
    height: 100px;
    
    right: 30px;
    
}
#Convolution{
    position: absolute;
    left: 190px;
    top: 150px;
    width: 250px;
    z-index: 5;
    
}
#Coutput{
    position: absolute;
    left: 190px;
    top: 450px;
    width: 250px;
    z-index: 3;
}

#textarea{
 position:absolute;
    top: 500px
    
}