body{

}
.Mainc{


 width: 100%;
 position:absolute;
z-index: -1;
height: 100%;
background-color: #FFEBEE;


}
#canvas1{
  position:absolute;


padding-left:150px;

padding-top:100px;
}



 ul{
   position:absolute;

    list-style-type: none;
    padding-top: 400px;
    padding-left: 800px;



}
#rgb{
width: 300px;
height: 401px;
  margin-top: 150px;
  margin-left: 700px;

}
#hozline{
  position:absolute;
  margin-left: 550px;
  padding-top: 501px;


}
#hozline2{
  position:absolute;
  margin-left: 550px;
  padding-top: 100px;


}

#tabs{
  position:absolute;
  width: 1000px;
  margin-top: 100px;
  margin-left: 650px;
  background-color: #FFCDD2;

}
